@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

.about-modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.about-modal span {
    position: absolute;
    top: 20px;
    right: 25px;
    color: var(--color-black);
    font-size: 15px;
    font-weight: bold;
}

.about-modal span:hover {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    cursor: pointer;
}

.about-modal-contents{
    width: 500px;
    height: 300px;
    background-color: var(--color-main);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 20px;
}
.about-modal-contents div{
    margin: 18px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
.about-modal-contents .title{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    color: var(--color-green);
}
.about-modal-contents .photos-by{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    padding-top: 20px;
}

@media (max-width: 900px) {
    .img-modal > img {
        margin-top: 25%;
        width: 100%;
    }
    .img-modal > span {
        display: none;
    }
}